:root {
  --base-color: #242424;
  --header-text-color: #fff;
  --light-white-color: #f9f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
button {
  font-family: inherit;
  border: none;
}
button:hover {
  cursor: pointer;
}

a:link,
:visited {
  text-decoration: none;
}
ul {
  list-style: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.none {
  display: none !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  height: 100%;
  z-index: 20;
  transition: all 0.5s;
}
