.container {
  display: flex;
  margin: 6.7 6.4rem 8rem;
  margin-top: 6.7rem;

  @include breakpoint(large-tablet) {
    margin: 0 3.2rem;
    margin-top: 6.7rem;
  }
  @include breakpoint(tablet) {
    margin: 0 1.6rem;
    margin-top: 5.1rem;
  }
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    margin: 5.1rem 0 0 0;
  }
}
.categories {
  padding: 2.4rem;
  padding-left: 0;
  &__header {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding-right: 2rem;
  }
  &__link {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 0.8rem;
    transition: all 0.4s;
    &:visited,
    &:link {
      color: #000;
    }
    &:hover,
    &:active {
      color: #000;
      text-decoration: underline;
    }
  }
  @include breakpoint(tablet) {
    padding-right: 0;
  }
  @include breakpoint(mobile) {
    margin-bottom: 4rem;
    &__header {
      display: none;
    }

    &__list {
      margin: 0 1.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__link {
      display: block;
      text-align: center;
      font-size: 1.4rem;
      padding: 1rem 0.2rem;
      &:hover,
      :active {
        background-color: #ececec;
        text-decoration: none;
        border-radius: 5px;
      }
    }
  }
}
