.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 1rem;
  position: relative;
  width: 100%;
  &__product-item {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    max-height: 30vw;

    transition: 0.18s ease-in-out;
    &:hover {
      box-shadow: 0 0.8rem 2.8rem rgba(0, 0, 0, 0.085);
    }
  }

  &__image {
    margin: 0 auto;
    width: 80%;
    height: 50%;
    margin-bottom: 1.2rem;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  &__price-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    font-size: 2rem;
    font-weight: 600;
  }
  &__button {
    font-size: 1.2rem;
    font-weight: 500;

    background-color: #000;
    color: var(--header-text-color);
    padding: 0.8rem 1.6rem;
    &:hover {
      background-color: #333;
    }
    &:active {
      color: #e1e1e1;
    }
  }
  @include breakpoint(desktop) {
    grid-template-columns: repeat(3, 1fr);
    &__product-item {
      max-height: 40vw;
      padding: 3rem 2.4rem;
    }
    &__price {
      font-size: 1.8rem;
    }
  }
  @include breakpoint(large-tablet) {
    grid-template-columns: repeat(2, 1fr);
    &__product-item {
      max-height: 60vw;
    }
    &__price {
      font-size: 1.6rem;
    }
    &__title {
      font-size: 1.4rem;
    }
  }
  @include breakpoint(tablet) {
    gap: 0;
    &__title {
      margin-bottom: 1.2rem;
    }
    &__button {
      padding: 0.6rem 1.2rem;
    }
    &__price {
      font-size: 1.6rem;
    }
  }
  @include breakpoint(mobile) {
    &__product-item {
      padding: 2rem 1.2rem;
    }
    &__price-button-container {
      display: block;
    }
    &__title {
      margin-bottom: 0;
    }
    &__price {
      margin-bottom: 1.2rem;
    }
    &__product-item {
      max-height: 60vh;
      row-gap: 0.6rem;
    }
  }
}
